/**
 * Simple Reset
 */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.2;
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial,
        cursive, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    min-height: 100vh;

    background-color: #333;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#game {
    position: relative;

    // @media (min-width: 1280px) {
    //     scale: 1.33;
    // }
    // @media (min-width: 1920px) {
    //     scale: 1.8;
    // }
}
#game-world {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    background: #000;
}

.data {
    user-select: none;
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'AmazDooMLeftOutline', sans-serif;
    padding: 8px;

    .time {
        color: #ff0000;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-family: 'Times New Roman', serif;
        text-shadow: 6px 6px 5px #000000;
        font-family: 'AmazDooMLeft2', sans-serif;
        font-size: 32px;
        // font-family: 'AmazDooMLeftOutline', sans-serif;
        // font-family: 'AmazDooMLeft', sans-serif;
        // font-family: 'AmazDooMRight2', sans-serif;
        // font-family: 'AmazDooMRightOutline', sans-serif;
        // font-family: 'AmazDooMRight', sans-serif;
    }
    .score {
        color: #00ff00be;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-family: 'AmazDooMLeft2', sans-serif;
        font-size: 32px;
        // font-family: 'AmazDooMLeftOutline', sans-serif;
        // font-family: 'AmazDooMLeft', sans-serif;
        // font-family: 'AmazDooMRight2', sans-serif;
        // font-family: 'AmazDooMRightOutline', sans-serif;
        // font-family: 'AmazDooMRight', sans-serif;

        text-shadow: 6px 6px 5px #000000;
    }

    #lives {
        position: absolute;
        left: calc(50% - 50px);
        top: -16px;
        width: 80px;
        height: 80px;

        background-size: contain;
        background-position: center center;

        &[data-lives] {
            background-image: url('./pictures/ui/hp/1.png');
        }

        &[data-lives='4'] {
            background-image: url('./pictures/ui/hp/2.png');
        }

        &[data-lives='3'] {
            background-image: url('./pictures/ui/hp/3.png');
        }

        &[data-lives='2'] {
            background-image: url('./pictures/ui/hp/4.png');
        }

        &[data-lives='1'],
        &[data-lives='0'] {
            background-image: url('./pictures/ui/hp/5.png');
        }
    }
}
