/**
 * Simple Reset
 */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

html {
    font-size: 16px;
    line-height: 1.2;
    scroll-behavior: smooth;
}

body {
    // font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial,
    //     cursive, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-family: 'AmazDooMLeft2', sans-serif;
    min-height: 100vh;

    background-color: #333;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#game {
    position: relative;
    user-select: none;

    & > .killed {
        position: absolute;
        z-index: 2;
        bottom: 8px;
        left: 8px;
    }

    & > .heart {
        position: absolute;
        z-index: 2;
        bottom: 8px;
        right: 8px;
    }

    svg {
        filter: drop-shadow(6px 6px 5px #000);
    }
}
#game-world {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    background: #333;

    outline: 2px solid rgba(153, 2, 2);

    background-repeat: repeat;
    background-position-y: 0;

    // canvas optimisations

    background-image: url('./pictures/worlds/stage1.png');

    &[data-stage='2'] {
        background-image: url('./pictures/worlds/stage2.png');
    }
    &[data-stage='3'] {
        background-image: url('./pictures/worlds/stage3.png');
    }

    &[data-stage='4'] {
        background-image: url('./pictures/worlds/stage4.png');
    }
    &[data-stage='5'] {
        background-image: url('./pictures/worlds/stage5.png');
    }
    &[data-stage='6'] {
        background-image: url('./pictures/worlds/stage6.png');
    }
    &[data-stage='7'] {
        background-image: url('./pictures/worlds/stage7.png');
    }

    &[data-stage='8'] {
        background-image: url('./pictures/worlds/stage8.png');
    }
}

#audioplayers {
    position: fixed;
    z-index: -1000;
    right: 500vw;
    top: -500vh;
}

.killed {
    color: #ddd;
    font-size: 32px;
    font-family: 'AmazDooMLeft2', sans-serif;
    text-shadow: 6px 6px 5px #000;

    .killed-span {
        margin-left: 4px;
    }
}
.heart {
    color: #990202;
    font-size: 32px;
    font-family: 'AmazDooMLeft2', sans-serif;
    text-shadow: 6px 6px 5px #000;
}
.data {
    user-select: none;
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'AmazDooMLeftOutline', sans-serif;
    padding: 8px;
    text-shadow: 6px 6px 5px #000;
    .time {
        color: #ff0000;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-family: 'Times New Roman', serif;

        font-family: 'AmazDooMLeft2', sans-serif;
        font-size: 32px;
    }
    .score {
        color: #00ff00be;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-family: 'AmazDooMLeft2', sans-serif;
        font-size: 32px;
    }

    #lives {
        position: absolute;
        left: calc(50% - 50px);
        top: -16px;
        width: 80px;
        height: 80px;
        font-family: 'AmazDooMLeft2', sans-serif;
        color: #990202;

        background-size: contain;
        background-position: center center;

        filter: drop-shadow(6px 6px 5px #000);

        font-size: 36px;

        // &[data-lives]::after {
        //     content: 'x' attr(data-lives);
        //     position: absolute;
        //     bottom: 12px;
        //     right: -12px;
        // }

        &[data-lives] {
            background-image: url('./pictures/ui/hp/1.png');
        }

        &[data-lives='4'] {
            background-image: url('./pictures/ui/hp/2.png');
        }

        &[data-lives='3'] {
            background-image: url('./pictures/ui/hp/3.png');
        }

        &[data-lives='2'] {
            background-image: url('./pictures/ui/hp/4.png');
        }

        &[data-lives='1'],
        &[data-lives='0'] {
            background-image: url('./pictures/ui/hp/5.png');
        }
    }
}
// mort///////
.death-container {
    position: absolute;
    z-index: 4;
    inset: 0;
    backdrop-filter: blur(20px);

    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 960px;
    height: 540px;

    .death-image {
        margin-top: 200px;
        width: 480px;
        height: 180px;
        background: url(./assets/pictures/ui/menu/DeadText.png);
    }

    .data {
        padding: 50px 16px 0 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        letter-spacing: 5px;
    }

    .retry {
        font-size: 32px;
        cursor: pointer;

        margin-top: 50px;
        margin-bottom: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        background-color: black;
        color: white;
        width: 250px;
        height: 100px;
        text-transform: uppercase;
        letter-spacing: 15px;
        overflow: hidden;
        font-family: 'AmazDooMLeft2', sans-serif;
    }
}

.start-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 960px;
    height: 540px;
    z-index: 4;
    background-image: url(./pictures/worlds/stage1.png);
    .start-menu-background {
        display: flex;
        backdrop-filter: blur(20px);
        color: white;
        .start-menu-leaderboard {
            width: 300px;
            height: 480px;
            margin-left: 80px;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .start-menu-title {
                font-size: 9rem;
            }
            .start-menu-credit {
                cursor: pointer;
                background-image: url(./pictures/ui/menu/CreditsText.png);
                width: 200px;
                height: 100px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
            .start-menu-credit:hover {
                background-image: url(./pictures/ui/menu/CreditsTextSelected.png);
            }
        }
        .start-menu-logo {
            width: 200px;
            height: 450px;
            margin-top: 30px;
        }
        .start-menu-box-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 340px;
            height: 540px;

            .start-menu-regles {
                font-family: 'AmazDooMLeft2', sans-serif;
                font-size: 1.7rem;
                color: white;
                text-shadow: 1px black;
                text-align: center;
            }
            .start-menu-touches {
                display: flex;
                gap: 25px;
                font-size: 1.6rem;
                img {
                    width: 75px;
                    height: 75px;
                }
                .start-menu-touche-e {
                    font-size: 1.6rem;
                    text-align: center;
                }
                .start-menu-touche-click {
                    font-size: 1.6rem;
                    text-align: center;
                }
                .start-menu-touche-space {
                    font-size: 1.6rem;
                    text-align: center;
                }
                .start-menu-touche-pause {
                    font-size: 1.6rem;
                    text-align: center;
                }
            }
            .start-menu-btn {
                cursor: pointer;
                background-image: url(./pictures/ui/menu/StartText.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 200px;
                height: 100px;
                cursor: pointer;
            }
            .start-menu-btn:hover {
                background-image: url(./pictures/ui/menu/StartTextSelected.png);
            }
        }
    }
}

// victoire
.victory {
    width: 960px;
    height: 540px;
    backdrop-filter: blur(20px);
    position: absolute;
    inset: 0;
    cursor: pointer;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    .data {
        padding: 50px 16px 0 16px;
        display: flex;
        flex-direction: column;
        // justify-content: flex-start;
        align-items: flex-start;
        letter-spacing: 5px;

        .killed-span {
            margin-left: 4px;
        }
    }
}

// pause//
@mixin base {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}
.fond {
    filter: blur(20px);
}
.pause {
    position: absolute;
    z-index: 3;
    top: -10px;
    left: -10px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    font-family: 'AmazDooMLeft2', sans-serif;
    width: 960px;
    height: 540px;
    backdrop-filter: blur(20px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 4rem;

    p {
        margin: 64px 0;
    }
    .ctn-btn {
        text-align: center;
        color: rgba(255, 255, 255, 0.8);

        cursor: pointer;

        &:not(:hover) svg:nth-child(even),
        &:hover svg:nth-child(odd) {
            display: none;
        }
    }
}

// level up /////
@mixin size {
    width: 100%;
    height: 100%;
}
@mixin center {
    justify-content: center;
    align-items: center;
}
@mixin flex {
    display: flex;
    flex-direction: column;
}
.credits {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    position: absolute;
    inset: 0;
    z-index: 5;
}
.level {
    cursor: pointer;
    position: absolute;
    inset: 0;
    z-index: 4;
    width: 960px;
    height: 540px;

    backdrop-filter: blur(30px);

    display: flex;
    flex-direction: column;
    justify-content: center;

    .levelup {
        @include flex();
        @include center();
        margin-top: 20%;
    }

    .stats {
        margin: auto 0 32px 0;

        font-size: 32px;

        letter-spacing: 5px;
        font-family: 'AmazDooMLeft2', sans-serif;
        text-shadow: 6px 6px 5px #000;

        display: flex;
        justify-content: space-evenly;

        // span + svg {
        //     margin-left: 16px;
        // }

        .score {
            color: green;
        }

        .lives {
            color: red;
        }
    }
}

@keyframes animlevel {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#goty {
    position: absolute;

    width: 100px;

    left: -15px;
    top: -15px;
    z-index: 9;
    transform: rotate(-45deg);
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }
}
