/**
 * Simple Reset
 */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  line-height: 1.2;
  scroll-behavior: smooth;
}
body {
  font-family: "AmazDooMLeft2", sans-serif;
  min-height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#game {
  position: relative;
}
#game-world {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  background: #000;
}
#audioplayers {
  position: fixed;
  z-index: -1000;
  right: 500vw;
  top: -500vh;
}
.data {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "AmazDooMLeftOutline", sans-serif;
  padding: 8px;
}
.data .time {
  color: #ff0000;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: "Times New Roman", serif;
  text-shadow: 6px 6px 5px #000000;
  font-family: "AmazDooMLeft2", sans-serif;
  font-size: 32px;
}
.data .score {
  color: rgba(0, 255, 0, 0.7450980392);
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: "AmazDooMLeft2", sans-serif;
  font-size: 32px;
  text-shadow: 6px 6px 5px #000000;
}
.data #lives {
  position: absolute;
  left: calc(50% - 50px);
  top: -16px;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-position: center center;
}
.data #lives[data-lives] {
  background-image: url("./pictures/ui/hp/1.png");
}
.data #lives[data-lives="4"] {
  background-image: url("./pictures/ui/hp/2.png");
}
.data #lives[data-lives="3"] {
  background-image: url("./pictures/ui/hp/3.png");
}
.data #lives[data-lives="2"] {
  background-image: url("./pictures/ui/hp/4.png");
}
.data #lives[data-lives="1"], .data #lives[data-lives="0"] {
  background-image: url("./pictures/ui/hp/5.png");
}
.death-container {
  position: relative;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 960px;
  height: 540px;
}
.death-container .death-image {
  margin-top: 200px;
  width: 480px;
  height: 180px;
  background: url(./assets/pictures/ui/menu/DeadText.png);
}
.death-container .data {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  letter-spacing: 5px;
}
.death-container .data .score {
  font-size: 32px;
  font-family: "AmazDooMLeft2", sans-serif;
  margin-right: 20px;
}
.death-container .data .score .score-span {
  padding: 0 20px;
}
.death-container .data .time .time-span {
  padding-right: 25px;
}
.death-container .retry {
  font-size: 32px;
  cursor: pointer;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background-color: black;
  color: white;
  width: 250px;
  height: 100px;
  top: 250px;
  text-transform: uppercase;
  letter-spacing: 15px;
  overflow: hidden;
  font-family: "AmazDooMLeft2", sans-serif;
}
.start-menu {
  width: 960px;
  height: 540px;
  background: darkblue;
  z-index: 3;
  background-image: url(./pictures/worlds/stage1.png);
}
.start-menu .start-menu-background {
  display: flex;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  color: white;
}
.start-menu .start-menu-background .start-menu-leaderboard {
  width: 260px;
  height: 320px;
  margin-left: 80px;
  margin-top: 50px;
}
.start-menu .start-menu-background .start-menu-leaderboard .start-menu-highscore-title {
  font-size: 3rem;
}
.start-menu .start-menu-background .start-menu-leaderboard .start-menu-highscore-score {
  font-size: 3rem;
}
.start-menu .start-menu-background .start-menu-logo {
  width: 240px;
  height: 450px;
}
.start-menu .start-menu-background .start-menu-box-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 340px;
  height: 540px;
}
.start-menu .start-menu-background .start-menu-box-right .start-menu-regles {
  font-family: "AmazDooMLeft2", sans-serif;
  font-size: 1.6rem;
  color: white;
  text-shadow: 1px black;
}
.start-menu .start-menu-background .start-menu-box-right .start-menu-touches {
  display: flex;
  gap: 25px;
  font-size: 1.6rem;
}
.start-menu .start-menu-background .start-menu-box-right .start-menu-touches img {
  width: 75px;
  height: 75px;
}
.start-menu .start-menu-background .start-menu-box-right .start-menu-touches .start-menu-touche-e {
  font-size: 1.6rem;
  text-align: center;
}
.start-menu .start-menu-background .start-menu-box-right .start-menu-touches .start-menu-touche-click {
  font-size: 1.6rem;
  text-align: center;
}
.start-menu .start-menu-background .start-menu-box-right .start-menu-touches .start-menu-touche-space {
  font-size: 1.6rem;
  text-align: center;
}
.start-menu .start-menu-background .start-menu-box-right .start-menu-touches .start-menu-touche-pause {
  font-size: 1.6rem;
  text-align: center;
}
.start-menu .start-menu-background .start-menu-box-right .start-menu-btn {
  background-image: url(./pictures/ui/menu/StartText.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
}
.start-menu .start-menu-background .start-menu-box-right .start-menu-btn:hover {
  background-image: url(./pictures/ui/menu/StartTextSelected.png);
}
.victory {
  width: 960px;
  height: 540px;
  background: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fond {
  filter: blur(20px);
}
.pause {
  font-family: "AmazDooMLeft2", sans-serif;
  width: 960px;
  height: 540px;
  background-image: url(./pictures/worlds/stage1.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 4rem;
}
.pause p {
  margin-top: 50px;
}
.pause .ctn-btn {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.pause button {
  font-family: "AmazDooMLeft2", sans-serif;
  padding: 5px;
  font-size: 3rem;
  border-radius: 10px;
}
.level {
  width: 960px;
  height: 540px;
  background: purple;
  margin: 25px;
}
.level .levelup {
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  animation: animlevel 4s forwards 2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
@keyframes animlevel {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */