/**
 * Simple Reset
 */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  line-height: 1.2;
  scroll-behavior: smooth;
}
body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, cursive, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  min-height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#game {
  position: relative;
}
#game-world {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  background: #000;
}
.data {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "AmazDooMLeftOutline", sans-serif;
  padding: 8px;
}
.data .time {
  color: #ff0000;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: "Times New Roman", serif;
  text-shadow: 6px 6px 5px #000000;
  font-family: "AmazDooMLeft2", sans-serif;
  font-size: 32px;
}
.data .score {
  color: rgba(0, 255, 0, 0.7450980392);
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: "AmazDooMLeft2", sans-serif;
  font-size: 32px;
  text-shadow: 6px 6px 5px #000000;
}
.data #lives {
  position: absolute;
  left: calc(50% - 50px);
  top: -16px;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-position: center center;
}
.data #lives[data-lives] {
  background-image: url("./pictures/ui/hp/1.png");
}
.data #lives[data-lives="4"] {
  background-image: url("./pictures/ui/hp/2.png");
}
.data #lives[data-lives="3"] {
  background-image: url("./pictures/ui/hp/3.png");
}
.data #lives[data-lives="2"] {
  background-image: url("./pictures/ui/hp/4.png");
}
.data #lives[data-lives="1"], .data #lives[data-lives="0"] {
  background-image: url("./pictures/ui/hp/5.png");
}
.death-container {
  position: relative;
  outline: 3px solid red;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 960px;
  height: 540px;
}
.death-container .death-image {
  width: 480px;
  height: 180px;
  background: url(./ressources/DeadText.png);
}
.death-container .data {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  letter-spacing: 5px;
}
.death-container .data .score {
  font-size: 32px;
  padding-right: 15px;
  font-family: "AmazDooMLeft2", sans-serif;
  margin-right: 20px;
}
.death-container .retry {
  font-size: 32px;
  cursor: pointer;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background-color: black;
  color: white;
  width: 250px;
  height: 100px;
  top: 250px;
  text-transform: uppercase;
  letter-spacing: 15px;
  overflow: hidden;
  font-family: "AmazDooMLeft2", sans-serif;
}
.death-container::after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: white;
  animation: float 10s infinite;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}
@keyframes float {
  25% {
    left: 25%;
    top: 33%;
  }
  50% {
    left: 53%;
    top: 50%;
  }
  75% {
    left: 66%;
    top: 86%;
  }
  100% {
    left: 0;
    top: 0;
  }
}
.start-menu {
  width: 960px;
  height: 540px;
  background: darkblue;
  display: flex;
  z-index: 3;
}
.start-menu .start-menu-leaderboard {
  width: 860px;
  height: 320px;
}
.start-menu .start-menu-logo {
  width: 200px;
  height: 540px;
}
.start-menu .start-menu-box-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 860px;
  height: 540px;
}
.start-menu .start-menu-box-right .start-menu-regles {
  font-family: "AmazDooMLeft2", sans-serif;
  font-size: 1.6rem;
}
.start-menu .start-menu-box-right .start-menu-touches {
  display: flex;
}
.start-menu .start-menu-box-right .start-menu-btn {
  width: 200px;
  height: 100px;
}
.victory {
  width: 960px;
  height: 540px;
  background: pink;
  display: flex;
}
.pause {
  font-family: "AmazDooMLeft2", sans-serif;
  width: 960px;
  height: 540px;
  background: darkred;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 4rem;
}
.pause p {
  margin-top: 50px;
}
.pause .ctn-btn {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.pause button {
  font-family: "AmazDooMLeft2", sans-serif;
  padding: 5px;
  font-size: 3rem;
  border-radius: 10px;
}
.level {
  width: 960px;
  height: 540px;
  background: purple;
  margin: 25px;
}
/*# sourceMappingURL=main.css.map */